body {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  font-family: "Outfit", sans-serif;
}
h3 {
  font-size: 18px;
  letter-spacing: 0.6px;
  font-weight: 700px;
  line-height: 1.5;
}
p {
  opacity: 50%;
  font-size: 15px;
  font-weight: 400px;
  margin: 4px;
}
.app {
  background-color: hsl(0, 0%, 100%);
  display: block;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
  height: auto;
  box-shadow: 1px 1px 50px hsl(220, 15%, 55%);
}

.qr-code img {
  width: 250px;
  height: 250px;
  border-radius: 7px;
  margin: 0 auto;
  display: block;
}
.text-content {
  margin: 20px 5px;
}
.attribution {
  margin: 25px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}
